<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    {% endblock %}
  </head>
  <body>
    <div id="page" class="container">
      <div class="header">
        <div class="menu">{% include 'navigator.html' %}</div>
        <div class="banner jumbotron">
          <h1>Welcome to forum cms</h1>
        </div>
      </div>
      <!--end div.header-->

      <div class="content-wrap">{% block content %}{% endblock %}</div>

      <div class="menu">{% include 'footer.html' %}</div>
    </div>
    <!--div.page-->
  </body>
</html>
